.dog-card {
    max-width: 400px;
    background-color: azure;
}

.dog-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
width: 100%;
}

ul {
    list-style-type: none;

}