<body>
    <h1>{{title}}</h1>
    <nav>
        <button mat-stroked-button><a routerLink="/dashboard">Dashboard</a></button>   
        <button mat-stroked-button><a routerLink="/heroes">Heroes</a></button> 
        <button mat-stroked-button><a routerLink="/UI">UI Test</a></button> 
        <button mat-stroked-button><a routerLink="/chart">Chart.js</a></button> 
        <button mat-stroked-button><a routerLink="/d3">D3.js</a></button>
        <button mat-stroked-button><a routerLink="/material-search">M-search</a></button>  
        
    </nav>
    <br>

    <router-outlet></router-outlet>
</body>
