<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
        {{tile.text}}
    </mat-grid-tile>
    <mat-grid-tile [colspan]=4 [rowspan]=1 [style.background]="'white'">
        Line
    </mat-grid-tile>
</mat-grid-list>



<div>
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile [colspan]=2 [rowspan]=4 [style.background]="'lightyellow'">
            <div>
                <li *ngFor="let hero of heroes">
                    <a routerLink="/detail/{{hero.id}}">
                        <span class="badge">{{hero.id}}</span> {{hero.name}}
                    </a>
                </li>

                <!---Delete Hero Button-->
            
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=1 [rowspan]=4 [style.background]="'lightpink'">
            <!---<app-hero-detail [hero]="selectedHero"></app-hero-detail>--->
            <div>
                <label>Hero name:
                    <input #heroName />
                </label>
                <!-- (click) passes input value to add() and then clears the input -->
                <button (click)="add(heroName.value); heroName.value=''">
                    add
                </button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=1 [rowspan]=4 [style.background]="'lightblue'">
            <app-messages></app-messages>
        </mat-grid-tile>

        
    </mat-grid-list>
    

    

</div>




<div>
    <mat-slider></mat-slider>    

</div>

